*{
	padding:0;
	margin:0;
	color: #E7DCCC; /*color de texto*/
	font-family: "Roboto Flex", sans-serif;
}


body{
	background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

/*FONT para todo texto menos H1*/
// <uniquifier>: Use a unique and descriptive class name
// <uniquifier>: Use a value from 400 to 800

.roboto-flex-<uniquifier> {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
}

/*FONT para H1 o testimoños*/
.cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

/*colores
#E4AC5C /// botones o destacados
#000000 o black /// colores de fondo o base
#35142C /// color para añadir en un degradé o detalle sutil
		también se puede usar dentro del botón
*/

/*CONFIGURACIÓN DE ESTILO DE TEXTO*/

h1{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #E4AC5C;
	font-weight: 500;
	margin-bottom: 1em;
	display: block;
}

p{
	text-align: left;
	font-weight: 500;
	display: block;

}

a.txt{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #E4AC5C;
	font-weight: 500;
	text-decoration: none;
	/*para pad o marg: arriba derecha abajo izq*/
}

a.txt:hover{
	color: #ffffff;
}


.copyright p{
	font-family: "Cormorant Garamond", serif;
	text-transform: uppercase;
	text-align: center;
    color: #E4AC5C;
}


.cuerpo{
	min-width: 300px;
	max-width: 3000px;
	min-height: 1080px;
	max-height: 10000px;
}


.vino h3{
	font-family: "Cormorant Garamond", serif;
	text-transform: uppercase;
	color: #E4AC5C;
    text-align: center;
}

.vino p{
	text-align: center;
}

.rv_home_txt{
    margin-top: 400px;
}
#select{
    margin-top: 100px;
}
/*RESPONSIVE CODE*/



@media (min-width: 300px) /*CELU*/{

/* --------- ACÁ EMPIEZA EL MAIN PARA MOBILE ---------*/

#home{
	padding: 17em 2em 12em 2em;
	background-image: url(IMG/rv_home.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;

}

.rv_home_txt h1{
	font-size: 12pt;

}

.cuerpo p{
	font-size: 10pt;
	line-height: 15pt;
	width: 96%;

}

.btnmain{
	margin-top: 2em;
	float: right;
}


.btnmain a{
	font-size: 9pt;
	border: solid 1px #E4AC5C;
	border-radius: 2em;	
	padding: 8px;

}


/* --------- ACÁ TERMINA MAIN PARA MOBILE ---------*/

/* --------- EMPIEZA NUESTRO VINO PARA MOBILE ---------*/

#romanov{
	padding: 10em 3em 2em 3em;
	background-image: url(IMG/bkgmarca.png);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25em;

}

.ntrovino img{
	width: 90%;
	margin-bottom: 2em;
}



/* --------- TERMINA NUESTRO VINO PARA MOBILE ---------*/

/* ----------------- EMPIEZA SELECCIÓN ----------------*/

.vino{
	display: inline-block;
	padding: 2em 1em 1em 1em;
}

.vino img{
	width: 100%;
	display: block;
	border-radius: 20em 20em 1em 1em;
}

.vino h3{
	margin-top: 2em;
	margin-bottom: 1em;
}

.vino p{
	width: 100%;
}

/* ----------------- TERMINA SELECCIÓN ----------------*/



/* ----------------- EMPIEZA FOOTER ----------------*/

.copyright{
	width: 100%;
}

/* ----------------- TERMINA FOOTER ----------------*/

}


@media (min-width: 580px) /*TABLET*/{



/* --------- ACÁ EMPIEZA EL MAIN -------------------*/

#home{
	padding: 9em 2em 10em 7em;
	background-image: url(IMG/rv_home.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

}

.rv_home_txt h1{
	margin-top: 12em;
	font-size: 14pt;

}


.cuerpo p{
	font-size: 10pt;
	line-height: 14pt;
	width: 90%;

}

.btnmain{
	margin-top: 4em;
	float: right;
}


.btnmain a{
	font-size: 12pt;
	border: solid 1px #E4AC5C;
	border-radius: 2em;	
	padding: 8px;

}


/* --------- ACÁ TERMINA MAIN PARA MOBILE ---------*/

/* --------- EMPIEZA NUESTRO VINO PARA MOBILE ---------*/

#romanov{
	padding: 10em 5em 10em 5em;
	background-image: url(IMG/bkgmarca.png);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25em;

}

.info_marca{
	width: 100%;

}

.ntrovino img{
	width: 100%;
	margin-bottom: 3em;
}


/* --------- TERMINA NUESTRO VINO PARA MOBILE ---------*/

/* ----------------- EMPIEZA SELECCIÓN ----------------*/

.vino{
	display: inline-block;
	padding: 2em 8em 1em 8em;
}

.vino img{
	width: 100%;
	display: block;
}

.vino h3{
	margin-top: 2em;
	margin-bottom: 1em;
}

.vino p{
	width: 100%;
}

/* ----------------- TERMINA SELECCIÓN ----------------*/



/* ----------------- EMPIEZA FOOTER ----------------*/

.copyright{
	width: 100%;
}

/* ----------------- TERMINA FOOTER ----------------*/

}



@media (min-width: 800px) /*TABLET ACOSTADA*/{



/* --------- ACÁ EMPIEZA EL MAIN -------------------*/

#home{
	padding: 9em 3em 10em 20em;
	background-image: url(IMG/rv_home.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

}

.rv_home_txt h1{
	margin-top: 12em;
	font-size: 14pt;

}


.cuerpo p{
	font-size: 12pt;
	line-height: 16pt;
	width: 100%;

}

.btnmain{
	margin-top: 3em;
	float: right;
}


.btnmain a{
	font-size: 12pt;
	border: none;
}

.linea{
	height: 2px;
	width: 5em;
	background-color: #E4AC5C;
	display: inline-block;
}

/* --------- ACÁ TERMINA MAIN PARA MOBILE ---------*/

/* --------- EMPIEZA NUESTRO VINO PARA MOBILE ---------*/

#romanov{
	padding: 10em 5em 10em 5em;
	background-image: url(IMG/bkgmarca.png);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25em;

}

.info_marca{
	width: 80%;

}

.ntrovino img{
	width: 100%;
	margin-bottom: 3em;
}


/* --------- TERMINA NUESTRO VINO PARA MOBILE ---------*/

/* ----------------- EMPIEZA SELECCIÓN ----------------*/

.vino{
	display: inline-block;
	justify-content: center;

}

.vino img{
	width: 100%;
	display: block;
}

.vino h3{
	margin-top: 2em;
	margin-bottom: 1em;
}

.vino p{
	width: 100%;
}

/* ----------------- TERMINA SELECCIÓN ----------------*/



/* ----------------- EMPIEZA FOOTER ----------------*/

.copyright{
	width: 100%;
}

/* ----------------- TERMINA FOOTER ----------------*/

}


/* ---------------------Header---------------------- */
.header{
    position: sticky;
    margin-right: 0px;
    margin-left: 0px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #35142C;
    box-shadow: 0 0 20px #000;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: flex-start;
    gap: 20px;
}
.list{
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

#login{
    display: flex;
    justify-content: flex-end; 
    text-decoration: none;
    margin-right: 40px;
    color: rgb(139, 138, 137);
    font-size: 1.5rem;
}
#login:hover{
    color: #E4AC5C;
}
.list a{
    text-decoration: none;
    color: rgb(139, 138, 137);
    font-size: 1.5rem;
	font-family: "Roboto Flex", sans-serif;
}
.list a:hover{
    color: #E4AC5C;
}
#menuhamb, #check{
    display: none;
}
@media (max-width: 864px){
    .checkbutton{
        display: flex;
        justify-content: flex-start;
    }
    #menuhamb{
        display: flex;
        justify-content: flex-start;
        top: 20px;
        right: 20px;
    }
        
    .navbar ul{
        display: block;
        position: fixed;
        top: 40px;
        left: -100%;
        background-color: #000;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .navbar ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .navbar ul li:hover{
        background-color: #35142C;
    }
    
    #check:checked ~ ul{
        left: 0;
    }

}
/* -------------------------FIN del HEADER-------------------- */


/*---------------------- FOOTER--------------- */
.fondo{
    background-image: url(img/barricas2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: rgba(20, 5, 5, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    
}   
.fondo > div{
    font-size: 1.5rem;
    text-align: start;
    color: aliceblue;
    background-color: rgba(20, 5, 5, 0.5);
    padding: 20px;
    
}   
#logoRomanov {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    
}
#Info{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    font-size: 1rem;
    padding-left: 0px;
}
#Info ul, #logosRedes ul{
    list-style: none;
    padding-left: 5px;
    
}
#Redes{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-column-end: 4;
    padding-top: 15px;
    text-align: end;
    
}
#Contact{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 15px;
    text-align: start;
    
    }
#logosRedes{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
} 
#logosRedes :hover{
    transform: scale(1.2);
}
#consulta{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    
}
textarea {
  
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 2px;
    
}
#enviar{
    width: 100px;
    height: 25px;
    border: 1px ridge aliceblue;
    border-radius: 25px;
    background-color: #35142C;
    color: aliceblue;
    margin-bottom: 10px;
    box-shadow: 2px 2px aliceblue;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#enviar:hover{
    transform: scale(1.2);
}

@media (max-width: 864px){
    .fondo{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 15% 60% 25%;
        
    }
    #Redes{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
        padding-top: 15px;
        text-align: start;
        padding-top: 50px;
    }
    
    #logosRedes{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-top: 40px;
        }
    #logosRedes ul{
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }
}
@media (max-width: 646px){
    .fondo{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 60% 25%;
}
    #consulta{
        padding-left: 0;
    }

}
@media (max-width: 580px){
    .fondo{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 10% 40% 10% 10%;
    }
    #logoRomanov{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1 ;
        grid-row-end: 2 ;
    }
    #Info{
        padding: 0;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-end: 3;
    }
    #Contact{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #consulta{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        padding-left: 100px;
    }
    #Redes{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        text-align: center;
    }
    #logosRedes{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        padding-top: 20px;
        transition: transform 0.3s ease;
    
    }
    #logosRedes:hover{
        transform: scale(0.9);
    }
    }
@media (max-width: 490px){
    .fondo{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 10% 40% 10% 10%;
        width: 100vw
        
}
#consulta{
    padding-left: 10px;
}
}

/* ------------------------Hasta acá el Footer -------------*/


/* -------------------Formulario de Registro--------------------------- */
.pagina{
    display: flex;
}
.imagenfondo > img{
    width:100% ;
    margin-top: 50px;
}
.formRegistro{
    position: fixed;
    height: 100vh;
    margin-top: 0px;
    margin-left: 55%;
}
fieldset{
    margin-top: 50px;
    color: aliceblue;
    font-size: 1.5rem;
    width: 100%;
    border-color: #35142C;   
    padding-right: 10px;
    padding-top: 20px;
    border-radius: 15%;
}
.inputreg{
    color: rgb(247, 249, 250);
    font-size: 1.15rem;
    width: 80%;
    padding: .5rem 0rem .5rem 1rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: #35142C;
    letter-spacing: 1px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#bdate{
    width: 35%;
}
#genero{
    margin-top: 5px;
    margin-left: 10px;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 1.5rem;
    padding-left:20px ;
    font-size: 1.5rem;
    color: aliceblue;
    background-color: #35142C;
}
#labelgen{
    margin-left: 15px;
}

label{
    margin-left: 50px;
}
.aceptbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
#suscribe, #nosuscribe{
    accent-color:#35142C;
    width:15px;
    height: 15px;
    
}
#aceptarcond , #noacepta{
    font-size: 1rem;
    margin-left: 0;
}
.botonesform{
    display: flex;
    justify-content: space-evenly;
}
#enviarreg, #borrar{
    width: 125px;
    height: 50px;
    border: 1px ridge aliceblue;
    border-radius: 25px;
    background-color:rgb(53, 20, 44);
    font-size: 1.3rem;
    color: aliceblue;
    margin-bottom: 30px;
    margin-top: 50px;
    box-shadow: 2px 2px aliceblue;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#enviarreg:hover,#borrar:hover{
    transform: scale(1.2);
}

/* ------------------Fin del Formulario de Registro --------------------------*/

/* -------------------------Comienza Pagina Nuestros Vinos------------------------------ */

.tintos, .blancos, .champ{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    
}

.card{
    width:280px ;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out; 
    border-radius: 15px;
    border: 1px solid;
    
}

.card:hover{
    transform: translateY(20px);
}

.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient( to bottom, rgba(56,20,44,0.5), rgba(56,20,44,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 15px;
    border: solid;
}

.card:hover::before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    border: solid;
}

.card .info-nvinos {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info-nvinos{
    opacity: 1;
    transform: translateY(0px);
}

.tituloVinos{
    margin-left: 20px;
    margin-top: 150px;
    margin-right: 50px;
    background: linear-gradient(to right, rgba(4,4,4,0.5), rgb(43, 14, 33));
}
#NuestrosVinos{
    margin-top: 200px;
    margin-left: 100px;
}
/* -------------------Fin Pagina Nuestros Vinos---------------------------- */